.bar-chart {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 4px;

  &.bars-12 {
    grid-template-columns: repeat(12, 1fr);

    & .bar {
      width: 50px;
      
      &.bar-0 {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }
      &.bar-11 {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }
  }
  &.bars-24 {
    grid-template-columns: repeat(12, 1fr);

    & .bar {
      width: 50px;
      
      &.bar-0 {
        border-top-left-radius: 30px;
      }
      &.bar-11 {
        border-top-right-radius: 30px;
      }
      &.bar-12 {
        border-bottom-left-radius: 30px;
      }
      &.bar-23 {
        border-bottom-right-radius: 30px;
      }
    }
  }
  &.bars-48 {
    grid-template-columns: repeat(12, 1fr);

    & .bar {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 10px;
      
      &.bar-0 {
        border-top-left-radius: 30px;
      }
      &.bar-11 {
        border-top-right-radius: 30px;
      }
      &.bar-36 {
        border-bottom-left-radius: 30px;
      }
      &.bar-47 {
        border-bottom-right-radius: 30px;
      }
    }
  }
  &.bars-96 {
    grid-template-columns: repeat(12, 1fr);
    
    & .bar {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 10px;
      
      &.bar-0 {
        border-top-left-radius: 30px;
      }
      &.bar-11 {
        border-top-right-radius: 30px;
      }
      &.bar-84 {
        border-bottom-left-radius: 30px;
      }
      &.bar-95 {
        border-bottom-right-radius: 30px;
      }
    }
  }
}
abbr {
  text-decoration: none;
}
.bar {
  background-color: #ffffff;
  height: 80px;
  border-radius: 8px;
  border: 1px solid #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  color: black;
  text-align: center;
  line-height: 80px;
  user-select: none;
  font-size: 12px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(200, 200, 200);
  }
  &:active {
    transform: scale(0.95);
    opacity: 0.8;
  }

  &.active {
    color: white;
  }
}

@media (max-width: 675px) {
  .bar-chart.bars-12 {
    grid-template-columns: repeat(6, 1fr);

    & .bar.bar-0 {
      border-bottom-left-radius: 8px;
    }
    & .bar.bar-5 {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 8px;
    }
    & .bar.bar-6 {
      border-bottom-left-radius: 30px;
    }
    & .bar.bar-11 {
      border-top-right-radius: 8px;
    }
  }
  .bar-chart.bars-24 {
    grid-template-columns: repeat(6, 1fr);

    & .bar.bar-11 {
      border-top-right-radius: 8px;
    }
    & .bar.bar-12 {
      border-bottom-left-radius: 8px;
    }
    & .bar.bar-5 {
      border-top-right-radius: 30px;
    }
    & .bar.bar-18 {
      border-bottom-left-radius: 30px;
    }
  }
  .bar-chart.bars-48 {
    grid-template-columns: repeat(6, 1fr);

    & .bar.bar-11 {
      border-top-right-radius: 8px;
    }
    & .bar.bar-5 {
      border-top-right-radius: 30px;
    }
    & .bar.bar-36 {
      border-bottom-left-radius: 8px;
    }
    & .bar.bar-42 {
      border-bottom-left-radius: 30px;
    }
  }
  .bar-chart.bars-96 {
    grid-template-columns: repeat(6, 1fr);

    & .bar.bar-11 {
      border-top-right-radius: 8px;
    }
    & .bar.bar-5 {
      border-top-right-radius: 30px;
    }
    & .bar.bar-84 {
      border-bottom-left-radius: 8px;
    }
    & .bar.bar-90 {
      border-bottom-left-radius: 30px;
    }
  }
}

@media (max-width: 400px) {
  .bar-chart {
    scale: 0.9;
  }
}